{% extends 'assistantDashboard/base.html' %}

{% block title %}Mi Perfil - Asistente{% endblock %}

{% block content %}
<div>
    <div>
        <h1>Mi Perfil</h1>
    </div>

    <div>
        <div>
            <div>
                {% if assistant.profile_picture %}
                <img src="{{ assistant.profile_picture.url }}" alt="Avatar">
                {% else %}
                <img src="https://ui-avatars.com/api/?name={{ user.first_name|default:'A' }}&background=0D8ABC&color=fff&rounded=true&bold=true&size=80" alt="Avatar">
                {% endif %}
            </div>
            <button type="button" onclick="openProfileCropper()">
                Actualizar Foto
            </button>
        </div>

        <!-- Bottom of file modal injection -->
        {% include 'core/components/profile_upload_modal.html' %}

        <div>
            <span>Nombre: </span>
            <span>{{ user.first_name }} {{ user.last_name }}</span>
        </div>
        <div>
            <span>Correo: </span>
            <span>{{ user.email }}</span>
        </div>
        {% if assistant.phone %}
        <div>
            <span>Teléfono: </span>
            <span>{{ assistant.phone }}</span>
        </div>
        {% endif %}
        {% if assistant.address %}
        <div>
            <span>Dirección: </span>
            <span>{{ assistant.address }}</span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}