<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Ticket - MedCloud</title>
</head>

<body>
    <h1>RADIOGRAPH XPRESS</h1>
    <div>TICKET DE ESTUDIO</div>
    <hr>
    <div><strong>Paciente:</strong> {{ study_request.id_patient.first_name }} {{ study_request.id_patient.last_name }}</div>
    <div><strong>Estudio:</strong> {{ study_request.requested_study }}</div>
    <div><strong>Diagnóstico:</strong> {{ study_request.diagnosis }}</div>
    <hr>
    <div>Contraseña para tu reporte PDF</div>
    <div>{{ study_request.pdf_password }}</div>
    <hr>
    <div>
        Conserva este ticket. Necesitarás la contraseña para abrir el reporte PDF que recibirás por correo electrónico.
    </div>

    <button onclick="window.print()">Imprimir</button>
</body>

</html>