{% extends 'associateDoctorDashboard/base.html' %}
{% load static %}

{% block content %}
<div>
    <h1>Mis Pacientes</h1>

    {% if patients %}
    <div>
        {% for patient in patients %}
        <div>
            <!-- Top: Patient Info -->
            <div>
                <div>
                    {{ patient.first_name|first }}{{ patient.last_name|first }}
                </div>
                <div>
                    <h3>{{ patient.first_name }} {{ patient.last_name }}</h3>
                    <span>{{ patient.gender }} | {{ patient.phone }}</span>
                </div>
            </div>

            <!-- Bottom: Studies Carousel -->
            <div>
                {% if patient.study_set.all %}
                <div>
                    {% for study in patient.study_set.all|dictsortreversed:"date" %} <!-- Ordered by date desc -->
                        {% url 'studyDetail' study.id_study as study_detail_url %}
                        {% if study.id_report and study.id_report.status == 'PRO' %}
                            {% include "core/components/study_card.html" with study_url=study_detail_url pacs_url=study.pacs_url date=study.date title="Estudio en progreso" status="in_progress" blocked=True extra_classes="" study_id=study.id_study %}
                        {% elif study.id_report and study.id_report.status == 'COM' %}
                            {% include "core/components/study_card.html" with study_url=study_detail_url pacs_url=study.pacs_url date=study.date title=study.id_report.about|default:"Reporte Completado" status="completed" extra_classes="" study_id=study.id_study %}
                        {% else %}
                            {% include "core/components/study_card.html" with study_url=study_detail_url pacs_url=study.pacs_url date=study.date title="Pendiente de reporte" status="pending" blocked=True extra_classes="" study_id=study.id_study %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                <div>No hay estudios registrados</div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div>
        <p>No tienes pacientes asociados actualmente.</p>
    </div>
    {% endif %}
</div>
{% endblock %}